/*background color*/
.background-color{
background-color: blanchedalmond;
}

/*fonts for all pages*/
.navfont{ font-family: 'Brush Script MT', cursive;
font-size: xx-large;}
h1, h2, h4, h6 {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
  }
  p, button,li, label{
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
}

/*index and about us 1st page css */
.about1{
    text-align: center; 
}

/*our services section in home page */
.service{
margin-top: 100px;
}
.border{
    background-color: white;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.indexbtn{
    position: absolute;
    top: 0%;
    left: 10%;
    right: 10%;
}
.flex-item {
    position: relative;
    flex: 1;
    padding: 10px;
    padding-top: 50px;
    margin: 20px 65px 100px 65px;
}

/*media for our services section in home page*/
@media only screen and (max-width: 1000px) {
    .flex-container {
        flex-direction: column;
    }
    .flex-item {
        flex: 1 0 100%;
    }
}

/*our porfolio in home page*/
div.portfolio{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.container-item{
    margin: 25px 20px 25px 20px;
    text-align: center;  
    transition: transform 0.3s;
}
  .container-item:hover {
    transform: translateY(-5px);
  }

/*about us page in 2nd page*/
.about{
text-align: center;
padding: 150px 40px 150px 40px;
}
.row{
    padding:100px 100px 100px 100px;
}

/*services page css*/
servicebtn{
    padding-bottom: 0%;
    padding-left: 50%;
    padding: 50%;
}
.price{
    padding-top: 10px;
    margin-bottom: 20%;
 }

    /* contact page css */
    .nopadding {
        padding: 0 !important;
        margin: 0 !important;
      }
      .submit {
        margin-top: 5%;
      }
      .map {
        padding-top: 5%;
        padding-bottom: 5%;
      }
      .resizeble {
        width: 100%;
        transition: all 0.3s;
      }
      .resizeble:focus {
        width: 90%; /* width when focused */
        background-color: darksalmon; /* color when focused */
        font-size: 14px; 
      }
  
      @media (max-width: 767px) {
        .resizeble {
          width: 100%; 
          font-size: initial; /* font size for smaller screens */
        }
        .resizeble:focus {
          width: 90%; /* width when focused on smaller screens */
          background-color: darksalmon; /* color when focused on smaller screens */
          font-size: 14px; 
        }
      }